<div class="show-score">
  <div class='title'>Your Score</div>
  <div class="line"><span class="label">Age:
    </span><span>{{ageScore | number:'1.0-0' }}/10</span>
  </div>
  <div class="line"><span class="label">Height:
    </span><span>{{heightScore | number:'1.0-0' }}/10</span></div>
  <div class="line"><span class="label">Weight:
    </span><span>{{weightScore | number:'1.0-0' }}/10</span></div>
  <div class="line"><span class="label">Shoe Size:
    </span><span>{{footSizeScore | number:'1.0-0' }}/10</span>
  </div>
  <div class="line"><span class="label">Lifestyle:
    </span><span>{{lifestyleScore | number:'1.0-0' }}/10</span>
  </div>
  <div class="line"><span class="label">Words:
    </span><span>{{wordsScore | number:'1.0-0' }}/10</span></div>
  <div class="line"><span class="label">Self Rating:
    </span><span>{{selfRatingScore | number:'1.0-0' }}/10</span></div>
</div>
