<div [formGroup]="quizForm">
  <input class='input-box'
         formControlName="weight"
         type="number"
         (keyup.enter)="moveToNextStep()"
         [autofocus]="true"
         [OnlyNumber]="true"
         placeholder="Weight in kg">
  <div class='controls'>
    <button (click)="moveToNextStep()"
            [disabled]="!(canClickNext$ | async)"
            [ngClass]="{ sheen: canClickNext$ | async }">
      <span></span>
      <span>Next</span>
      <fa-icon [icon]="faArrowRight"></fa-icon>
    </button>
  </div>
</div>
