html,
body {
  margin: 0;
  height: 100%;
  background-color: #6f5441;
  color: white;
}

* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 18vh;
  align-items: center;
  justify-content: center;

  button {
    cursor: pointer;
    border: none;
    height: 9vh;
    line-height: 8vh;
    width: 250px;
    background-color: #97c378;
    border: 4px solid #355a14;
    color: #355a14;
    border-radius: 15px;
    font-size: 6vh;
    min-height: 35px;
    box-shadow: 0px 0px 300px 3px rgba(0, 0, 0, 0.43);
    animation: button-color-change 0.5s 0s forwards;
    position: relative;

    fa-icon {
      position: absolute;
      right: 10px;
    }

    @media only screen and (max-width: 1050px) {
      grid-template-columns: 100%;
      fa-icon {
        display: none;
      }
    }
    @media screen and (min-height: 700px) {
      font-size: 35px;
    }

    white-space: nowrap;

    &:disabled {
      cursor: not-allowed;
      color: grey;
      border: solid grey;
      background-color: black;
      animation: none;
    }
  }
}

.sheen {
  position: relative;
  overflow: hidden;
}

.sheen:after {
  animation: sheen 1s 0s forwards;
  animation-iteration-count: infinite;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    transparent,
    rgba(255, 255, 255, 0.5) 50%,
    transparent
  );
  transform: rotateZ(60deg) translate(-1em, 4em);
}

.sheen.once:after {
  animation-iteration-count: 1;
}

.input-box {
  width: 100%;
  height: 8vh;
  background-color: #976f52;
  font-size: 6vh;
  line-height: 8vh;
  text-align: center;
  color: white;
  border: 4px solid #302728;
  border-radius: 15px;
  box-shadow: 0px 0px 300px 3px rgba(0, 0, 0, 0.43);
}

.header {
  font-size: 6vh;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.43);
}

@keyframes button-color-change {
  0% {
    color: grey;
    border: solid grey;
    background-color: black;
  }
  100% {
    background-color: #97c378;
    border: 4px solid #355a14;
    color: #355a14;
  }
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(0, -4em);
  }
}

.options {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;

  .option {
    display: flex;
    padding: 10px;
    margin: 10px;
    position: relative;

    background-color: #976f52;
    border: 4px solid #302728;
    border-radius: 15px;
    font-size: 6vh;
    box-shadow: 0px 0px 300px 3px rgba(0, 0, 0, 0.43);
    padding-right: 50px;

    @media only screen and (max-width: 1050px) {
      font-size: 3vh;
    }

    cursor: pointer;

    span,
    fa-icon {
      pointer-events: none;
    }

    fa-icon {
      display: none;
      position: absolute;
      right: 5px;
      opacity: 0.5;
    }
    &.selected {
      color: #355a14;
      fa-icon {
        display: block;
      }
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccb9ac;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccb9ac;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ccb9ac;
}
